body {
      /* background: #fff;  */
      color:#333333;
      font-family: 'Malgun guthic', "Segoe UI', Tahoma, Geneva, Verdana";
      font-size: 14px;
}
li {margin-bottom:8px;}
p {line-height:1.5;}
pre {
      font-family: Consolas, monospace;
      padding-left: 20px;
      padding-top: 10px;
}

.jb-container {
      margin: 10px auto;
      padding: 20px;
}
.jb-header {
      padding-left: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #bcbcbc;  
}
.jb-header h2 {font-size: 22px;}
.jb-content h2, .jb-sidebar h2 {
      font-size: 18px;
      border-bottom: 1px solid #bcbcbc;
      padding-bottom: 5px;}
.jb-content h2{text-align: center}
.jb-sidebar li {list-style: none; padding:1px}
.jb-sidebar ul {padding: 0px;}
.jb-sidebar a, .jb-main-menu a{ text-decoration:none; color:#333333;}
.jb-content {
      padding-left: 20px;
      margin-bottom: 20px;
      word-wrap: break-word;
}
.jb-main-menu{
      border-bottom: 1px solid #bcbcbc;
      font-size: 16px; 
}
.jb-sidebar {
      padding-left: 20px;
      margin-bottom: 20px;        
}
.jb-footer {
      padding: 1px;
      padding-left: 20px;
      background-color: #bcbcbc ;
      color: white ;
}
h3.jb-content-heading {
      background-color: #fafafa;
      border-left: 5px solid #222222;
      padding:10px;
      padding-left: 20px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 16px;
}
h4.jb-content-heading {
      border-bottom: 1px solid #bcbcbc;
      padding:0 0 10px;
      margin: 20px 0;
      font-size: 16px;
}
.jb-coding{
      background-color: #fafafa;
      border-top: 1px solid #bcbcbc;
      border-bottom: 1px solid #bcbcbc;
      padding: 10px;
      font-size:12px;
}
.jb-main-menu ul li{
      list-style-type: none;
      display: inline;
      margin-right: 20px; 
}
.jb-more-info{
      background-color: #f5f5f5;
      border :1px solid  #f5f5f5;
      padding:0px 15px;
}

.color-blue{color:blue;}
.color-red{color:red;}


@media ( min-width: 781px ) {
      .jb-container {
            width: 1000px;
      }
      .jb-main-menu{
            width: 1000px;
      }
      .jb-content {
            width: 730px;
            float: right;
      }
      .jb-sidebar {
            width: 200px;
            float: left;
      }
      .jb-footer {
            clear: both;
      }
}

